*.class
*.project
*.classpath
ds-hw1-nodemanager/.settings/
ds-hw1-nodemanager/target/
ds-hw1-processmanager/.settings/
ds-hw1-processmanager/target/
ds-hw1-shared/.settings/
ds-hw1-shared/target/
nodemanager/.settings/
nodemanager/bin/
processmanager/.settings/
processmanager/bin/
shared/.settings/
shared/bin/

